nav {
    width: 100%;
    height: 5em;
    background: rgb(28, 28, 28);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

@keyframes float {
    0% {
        /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
        transform: translatey(0px);
    }

    50% {
        /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
        transform: translatey(-10px);
    }

    100% {
        /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
        transform: translatey(0px);
    }
}

.sections {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.section {
    list-style: none;
}

.link {
    text-decoration: none;
}

.link-text {
    color: #22cc88;
    font-weight: 700;
    font-size: 2em;
    margin-right: 1em;
}

@media only screen and (max-width: 500px) {
    .link-text {
        display: none;
    }
}

.icon {
    filter: invert(62%) sepia(82%) saturate(438%) hue-rotate(102deg) brightness(92%) contrast(83%);
    width: 2em;
    height: 2em;
    margin-right: .25em;
    float: left;
}

.link:hover .icon {
    filter: invert(22%) sepia(23%) saturate(991%) hue-rotate(104deg) brightness(92%) contrast(90%);
}

.link:hover .link-text {
    color: #1e4837;
}

/* animation: float 6s ease-in-out infinite; */